---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-color: #333;
$sans-serif: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "IPA Pゴシック", "IPA PGothic", sans-serif;
$code-bg-color: #eee;

body {
  font-family: $sans-serif;
  color: $font-color;

  > header {
    > h1 {
      text-align: center;
      font-weight: 500;
      font-size: 150%;
      > a {
        color: $font-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  > article {
    h1, h2, h3, h4, h5, h6 {
      > .heading-anchor {
        text-decoration: none;
        &:after {
          content: " \00A7";
          color: $font-color;
          font-weight: 300;
          opacity: 0;
          transition: opacity 0.1s ease-out;
        }
      }
      &:hover > .heading-anchor:after {
        opacity: 1;
      }
    }
    blockquote {
      border-left: solid 3px #ccc;
      margin: 0 20px;
      padding: 1px 10px;
      font-style: oblique;
    }
  }

  > footer {
    text-align: right;
    font-size: small;
  }
}


///====================================================
// code elements
///====================================================

@import "syntax-highlighting";

body > article {
  pre {
    background-color: $code-bg-color;
    > code {
      display: block;
      font-size: 90%;
    }
  }
  code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, "IPAゴシック", "IPAGothic",  monospace;
    background-color: $code-bg-color;
    padding: 1pt 3pt;
  }
}
