@charset "utf-8";

body {
  font-family:
    "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "IPA Pゴシック",
    "IPA PGothic", sans-serif;
  color: #333;

  > header > h1 {
    text-align: center;
    font-weight: 500;
    font-size: 150%;

    > a {
      color: #333;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  > article {
    h1, h2, h3, h4, h5, h6 {
      > .heading-anchor {
        text-decoration: none;

        &::after {
          content: " \00A7";
          color: #333;
          font-weight: 300;
          opacity: 0;
          transition: opacity 0.1s ease-out;
        }
      }

      &:hover > .heading-anchor::after {
        opacity: 1;
      }
    }

    blockquote {
      border-left: solid 3px #ccc;
      margin: 0 24px;
      padding: 12px 12px;
      font-style: oblique;
    }

    code {
      font-family:
        Consolas, "Liberation Mono", Menlo, Courier, "IPAゴシック", "IPAGothic",
        monospace;
    }

    pre {
      margin: 12px;
    }
    pre > code {
      display: block;
      padding: 12px;
    }
  }

  > footer {
    text-align: right;
    font-size: small;
  }
}
