---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import "syntax-highlighting";

$font-color: #333;
$serif-font: Georgia, Times, "IPA明朝", serif;
$gothic-font: Verdana, Arial, Meiryo, "メイリオ", "IPAゴシック", "IPAGothic", "MS P Gothic", "ＭＳ Ｐゴシック", sans-serif;
$code-bg-color: #ddeeff;

.highlight {
  background-color: $code-bg-color;
  padding: 8px 8px;
  > pre {
    margin: 0px;
  }
}

body {
  font-family: $serif-font;
  color: $font-color;

  > header {
    > h1 {
      text-align: center;
      font-weight: 500;
      > a {
        color: $font-color;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  > article {
    h1,h2,h3,h4,h5,h6 {
      font-family: $gothic-font;
    }
    code {
      background-color: $code-bg-color;
    }
  }

  > footer {
    text-align: center;
    font-size: small;
  }
}
